body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}
h1 {
    font-size: 25px;
}
h2 {
    margin-bottom: 0;
    font-size: 20px;
}
p {
    display: inline-block;
    color: gray;
    font-size: 15px;
}
span {
    color: black;
    font-size: 13px;
}